body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

h1 {
  font-family: "Bebas Neue", cursive;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
