.FiltersContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.7s ease;
  /* padding-top: 10px; */
}

.FiltersContainer h3 {
  background-color: black;
  color: white;
  padding: 3px;
}

.Open {
  height: 290px;
}

.Close {
  height: 0;
}
